{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>Saídas</h1>
 <!-- Painel superior de controles -->
 <div class="container-fluid">
  <div class="row">
    <div class="col-3 text-white p-3">
    </div>
    
      <div class="col-9 text-dark p-3">
      </div>
    </div>
  </div>
  
  <!-- Mensagem de sucesso ao adicionar uma saida-->
  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endif %}
  
  <!-- Tabela de dados das saidas -->
  <div class="table-responsive">
    <table id="saida-table" class="table table-hover table-striped table-bordered ">
      <thead class="table-primary">
        <tr>
          <th>
            Produto 
          </th>
          <th>
            Setor 
          </th>
          <th>
            Quantidade 
          </th>
          <th>
            Data 
          </th>
        </tr>
      </thead>
      
      <tbody>
        {% for saida in saidas %}
          <tr>
            <td>{{ saida.produto }}</td>
            <td>{{ saida.setor }}</td>
            <td>{{ saida.quantidade }}</td>
            <td>{{ saida.criado_em|date:"d/m/Y" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  
{% endblock %}
